#buttons {
  button.button1 {
    background-color: $color;
    &:hover {
      background-color: aqua;
    }
  }
  button.button2 {
    background-color: $color1;
    &:hover {
      background-color: rgb(255, 184, 51);
    }
  }
  button.button3 {
    background-color: $color2;
    &:hover {
      background-color: greenyellow;
    }
  }
}
