@mixin floating($myborder) {
  border-radius: 50px;
  // box-shadow: ;
  border: solid 3px;
  border-color: $myborder;
}

@mixin titlebig($colore) {
  font-size: $font6;
  padding-bottom: $bot;
  margin-top: $top;
  color: $colore;
}
@mixin nav {
  display: flex;
  flex-direction: row;
}
@mixin centrare {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
@mixin head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin bordobutton {
  border-radius: 15px;
  padding: $top;
  font-size: $font1;
  color: $testo;
  margin-left: $left;
  margin-bottom: $bot3;
  justify-content: center;
}
