$pad: 0.3em;
$top: 0.5em;
$bot: 0.5em;
$left: 0.5em;
$right: 0.5em;

$top4: 1em;
$bot4: 1em;
$left4: 1em;
$right4: 1em;

$top1: 1.5em;
$bot1: 1.5em;
$left1: 1.5em;
$right1: 1.5em;

$top2: 1.3em;
$bot2: 1.3em;
$left2: 1.3em;
$right2: 1.3em;

$top3: 2em;
$bot3: 2em;
$left3: 2em;
$right3: 2em;
$pad3: 3.8em;

$pad1: 3.5em;
$pad2: 10em;
